doctype
html(lang='ja')
  head
    meta(charset="UTF-8")
    title Will you curry me?
    meta(name="description" content="Wedding party for TSUGUTO&ITSUMI")
    meta(name="robots" content="noindex,nofollow")
    meta(name="og:image" content="http://willyoucurry.me/assets/images/futari.jpg")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/assets/javascripts/app.js")
  body
    != yield