<svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg>