#enter
  .enter-content
    small
      strong TSUGUTO &amp; ITSUMI Wedding Party
    h1.sacramento Will you curry me?
    #loading.m40
      include ./_spoon.jade
      p.small.m40 loading...


#main(role="main")
  header#header
    .content-inner
      small
        strong TSUGUTO &amp; ITSUMI Wedding Party
      h1.sacramento Will you curry me?
  .wrapper
    .popin
      #itsumi2.in
    .content-inner.m40.text-center.elm1-wrapper.amatic
      include ./_elm1.jade
      h1.m20.bold SAVE THE DATE
      h2.amatic.m20 Sep. 4th, 2016 (SUN)
      include ./_elm2.jade
    .content-inner.m40
      p このたび、古山亜人・坂田逸美の結婚パーティーを開催することとなりました(=^ェ^=^ェ^=)
      p.mb20 つきましては、みなさまのご出席を賜りたく、下記ボタンからGoogleフォームに入力してください(=^ェ^=^ェ^=)
      .text-center
        img(src="./assets/images/futari.gif" width="280" height="280")
    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
    #details
      #itsumi1.in
      .content-inner.m40.text-center
        .party-details
          dl.mb30
            dt 日時
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong 2016年9月4日(日)
              br
              | 17:00 受付 / 17:30 スタート
              small （予定）
          dl.mb30
            dt 料金
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong 8,000円
          dl.mb15
            dt 場所
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong ライトボックススタジオ青山
              br
              small 表参道駅から徒歩6分
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.832302061351!2d139.7140289!3d35.6606342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b60d5782e73%3A0x99dd0c32bb1bfcc2!2z44CSMTA3LTAwNjIg5p2x5Lqs6YO95riv5Yy65Y2X6Z2S5bGx77yV5LiB55uu77yR77yW4oiS77yXIOODqeOCpOODiOODnOODg-OCr-OCueOCueOCv-OCuOOCqumdkuWxsQ!5e0!3m2!1sja!2sjp!4v1468337884695" width="100%" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
        .text-center
          a(href="http://www.lightboxstudio.net/www/wp/wp-content/uploads/2014/12/aoyama_map09.pdf" target="_blank") ACCESS(PDF)
          | 　
          a(href="https://goo.gl/maps/gGhmh" target="_blank") Google Map
    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
      p.small.mt10 出席される方・されない方も、お手数ですがこちらからご入力ください！

    .spoon-devide.text-center.m40
      include ./_spoon.jade

    .image-sepalate
      figure(style="background-image:url(https://d3inpvsbp3id80.cloudfront.net/images/a5/b7/a5b7a64a43370c71fbb2119fd151d9649783d2a4efd0f621231c45cab008519c_main)")
        h3.bold 緑に囲まれた素敵な会場です
      #tsuguto1.in

    .content-inner.text-center.mt15.mb40
      p.text-left 今回のパーティーは、青山のレンタルスタジオをお借りして、手作りでおもてなしをします！はじめてのことばかりですが、頑張ります！！

    .image-sepalate
      figure(style="background-image:url(http://scontent.cdninstagram.com/t51.2885-15/e35/13413238_217761925284521_1966104213_n.jpg)")
        h3.bold カレー🍛あります！

    .content-inner.text-center.mt15.mb40
      p.text-left もちろん、カレーの提供もあります。今回のパーティーでは、なんとあの「第1回アマチュアカレーグランプリ」で見事優勝を果たした、新井一平さんによるカレーをみなさんにも召し上がっていただきますよ！

    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
      p.small.mt10 出席される方・されない方も、お手数ですがこちらからご入力ください！

  #upas
    img(src="/assets/images/upas.gif" width="200")

  footer#footer
    small &copy; willyoucurry.me
