@import "reset";

html {
  background: $white;
}

body {
  font-size: 15px;
  font-family: 'Helvetica Neue Light','Helvetica Neue','helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"游ゴシック体", "Yu Gothic", 'YuGothic','メイリオ','Meiryo','ＭＳ Ｐゴシック','sans-serif';
  font-weight: 300;
  fill: $black;
  color: $black;
  background: $white;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

strong { font-weight: bold; }

img { max-width: 100%; }