#enter {
  background: url(../images/futari.jpg) no-repeat center center;
  background-size: cover;
  color: $white;
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 9;
  transition: all .2s linear;
  transform: scale(0.95) rotateY(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  opacity: 1;
  .enter-content {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 30px 0;
  }
  &.entering {
    transform: perspective(1400px) scale(.95) rotateY(90deg);
  }
  &.entered {
    z-index: 0;
    transform: perspective(1400px) scale(.95) rotateY(90deg);
    display: none;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading {
  fill: $curry;
  color: $curry;
  transition-duration: .3s;
  &.out {
    opacity: 0;
  }
  > svg {
    animation: loading 1s linear 0s infinite;
  }
}

#main {
  transition: all .2s linear;
  transition-delay: .2s;
  transform: perspective(1400px) scale(0.95) rotateY(-90deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  visibility: hidden;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  box-shadow: 0 0 25px rgba(0,0,0,.5);
  &.entering {
    visibility: visible;
    transform: perspective(1400px) scale(1) rotateY(0deg);
  }
  &.entered {
    z-index: 10;
    visibility: visible;
    position: relative;
    transform: perspective(1400px) scale(1) rotateY(0deg);
  }
}

#details {
  position: relative;
  overflow: hidden;
}

#header {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background: $curry;
  color: $white;
}

#footer {
  border-top: 1px solid $gray;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background: $white;
  color: $dark-gray;
}


.image-sepalate {
  position: relative;
  > figure {
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $white;
    text-align: center;
    text-shadow: 0 0 15px rgba(0,0,0,.35);
    position: relative;
    z-index: 2;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 250px;
}

.popin {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  top: 0;
}

#tsuguto1 {
  background: url(../images/tsuguto1.png) no-repeat;
  width: 100px;
  height: (295px)*100/200;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  transition-duration: .35s;
  transform: translateY(-100px);
  &.in {
    transform: translateY(0px);
  }
}
#itsumi1 {
  background: url(../images/itsumi1.png) no-repeat;
  width: 200px;
  height: 254px;
  background-size: cover;
  position: absolute;
  z-index: 0;
  left: 50%;
  margin-left: 80px;
  top: 164px;
  transition-duration: .35s;
  transform: rotate(-48deg);
  &.in {
    transform: translateX(50px);
  }
}
#itsumi2 {
  background: url(../images/itsumi2.png) no-repeat center top;
  background-size: 300px 250px;
  width: 300px;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  transition-duration: .35s;
  height: 250px;
  &.in {
    height: 50px;
  }
}

@keyframes upas {
  0% {
    transform: translate(-150px, 200px);
  }
  30% {
    transform: translate(230px, 330px);
  }
  50% {
    transform: translate(144px, 490px);
  }
  70% {
    transform: translate(304px, 120px);
  }
  100% {
    transform: translate(-150px, 200px);
  }
}

#upas {
  width: 200px;
  position: fixed;
  top: 0;
  z-index: 0;
  animation: upas 6s ease 0s infinite;
}