@each $i in (10,15,20,30,40,50) {
  .m#{$i} {
    margin-top:#{$i}px;
    margin-bottom:#{$i}px;
  }
  .mt#{$i} {
    margin-top:#{$i}px;
  }
  .mb#{$i} {
    margin-bottom:#{$i}px;
  }
}

.content-inner {
  position: relative;
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1
}


.elm1-wrapper {
  .elm {
    width: auto;
    height: 50px;
    fill: $light-gray;
  }
}

.spoon-devide {
  fill: $light-gray;
  > svg {
    margin: 0 .25em;
    width: 3em;
  }
}

.btn {
  margin: auto;
  display: inline-block;
  border-radius: 22px;
  line-height: 44px;
  background: $curry;
  color: $white;
  padding: 0 1em;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 3px 0 darken($curry, 10%);
}
