.thin {
  font-weight: 100;
}
.bold {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
h1, .h1 {
  font-size: 220%;
}
h2, .h2 {
  font-size: 180%;
}
h3, .h3 {
  font-size: 150%;
}
.small { font-size: 90%; }

p { line-height: 1.75; }


.amatic {
  font-family: 'Amatic SC', cursive;
  font-size: 150%;
  line-height: 0.9;
}

.sacramento {
  font-family: 'Sacramento', cursive;
}