$white:     #fff;
$light-gray: #aaa;
$gray:      #999;
$dark-gray: #666;
$black:     #3d2d16;
$curry:     #f7c41f;

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Sacramento);

@import "base";
@import "modules";
@import "layouts";
@import "states";